<!DOCTYPE html>
<html>
    <head lang="{{ app.locale }}">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.ico">
        <title>{{ app.page_title.getTitle() }}</title>
        {{ app.assets.render()|raw }}        
    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% block extra %}
        {% endblock %}
    </body>
</html>